* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-image: url(imagenes/fondoGalletas1080p.png);
    font-family: 'Fredoka One', cursive;
    color: white;
    text-shadow: 2px 2px 0px #4a3b2a;
}
header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.game {
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.updates {
    width: 40%;
    height: 100%;
    flex-direction: column;
}
.updates_manual {
    height: 30%;
    display: flex;
    flex-direction: column
}
.updates_auto {
    height: 70%;
    display: flex;
    flex-direction: column;
} 
img.coockie {
    height: 300px;
    width: 300px;
}
button#coockie_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 2%;
}
button#coockie_button:active {
    transform: scale(1.01);
}
button.boton-tienda {
    font-family: sans-serif;
    font-family: 'Fredoka One', cursive;
    color: white;
    text-shadow: 2px 2px 0px #4a3b2a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    padding: 5px;
    margin-bottom: 12px;
    border: none;
    border-radius: 20px;
    border-bottom: 6px solid rgba(0,0,0,0.2);
    color: white;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: all 0.1s;
    position: relative;
    background-color: rgb(255, 220, 178);
}
button.boton-tienda:active {
    border-bottom-width: 0px;
    transform: translateY(6px);
}
button.boton-tienda:disabled {
  background: #333;
  color: #999;
  filter: grayscale(100%);
  opacity: 0.6;
  cursor: not-allowed;
  border-bottom: 6px solid #222;
}
.mejora-header {
    
}